
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="root"></div>
<script>
    window.RComponent = "@(ViewBag.RComponent)"

</script>
<script src="http://localhost:3000/static/js/bundle.js"></script>
